<%- include('partials/header.ejs'); -%>

<body>
  <%- include('partials/navbar.ejs'); -%>

  <div class="container">
    <h2 class="mb-3">Perguntas</h2>
    <a 
      class="btn btn-primary"
      href="/perguntar"
    /> Perguntar </a>

    <hr class="mt-3 mb-5">

    <% questions.forEach(question => {%>
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title"> <%= question.titulo %> </h3>
          <p class="card-text"> <%= question.description %> </p>
        </div>
        <div class="card-footer">
          <a 
            href="/pergunta/<%= question.id %>"
            class="btn btn-primary"
          />
            Responder
          </a>
        </div>
      </div>
    <% }) %>
  </div>
  <%- include('partials/scripts.ejs'); -%>
</body>
</html>